*{
  font-family: Arial, Helvetica, sans-serif;
}
::ng-deep * {
  margin: 0;
  padding: 0;
}
.row{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  /* height: 100%; */
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.app-header-container{
  width: 100%;
}
app-search-header{
  width: 100%;
  width: auto;
  height: 500px;
  background-image: url(/GhibliStudio/src/assets/images/Ghibli_SocialBanners_Facebook-Logo-Only-1-1024x388.jpg);
}
app-filter-side{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
app-main-content{
  width: 80%;
  height: auto;
}


 @media (max-width:1024px){
  app-main-content{
    width: 70%;
  }
  app-filter-side{
    width: 30%;
  }
}
@media (max-width:768px){
  app-main-content{
    margin-top: 25px;
    width: 100%;
  }
  app-filter-side{
    width: 100%;
  }
  .row{
    flex-direction: column;
  }

}
@media (max-width:425px){
  app-main-content{
    width: 90%;
    place-items: center;
    margin-top: 25px;
  }
  app-filter-side{
    width: 90%;
  }
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
